html{
    font-family: Helvetica;
    background-size: 1000px;
    background-color: #000;
}

.cabecalho{
    max-width: 1100px;
    position: relative;
    text-align: center;
    margin: 50px auto;
    padding: 20px 50px;
    border-radius: 100px;
    background-image: url(../img/nature.jpg);
    color: #ddd;
    border: 1px solid white;
}

.cabecalho h1{
    font-style: italic;
}

.cabecalho p{
    font-style: italic;
}

h2{
    font-style: italic;
}

.imagemCentralizada{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: bold;   
}

.textoGrande{
    text-indent: 35px;
    text-align: center;
    background-image: url(../img/nature.jpg);
    border-radius: 25px;
    margin: auto;
    color: #ddd;
    max-width: 750px;
    border: 1px solid white;
}

.pontosPositivos{
    background-image: url(../img/nature.jpg);
    width: 30%;
    margin-bottom: 50px;
    margin-left: 670px;
    text-align: center;
    color: #ddd;
    border: 1px solid white;
    border-radius: 25px;
    font-style: italic;
}

.pontosPositivos li{
    text-align: left;
    padding: 5px;
    color: #ddd;
    font-style: italic;
}

.pontosNegativos{
    background-image: url(../img/nature.jpg);
    width: 30%;
    margin-top: 50px;
    margin-left: 670px;
    margin-bottom: 10px;
    text-align: center;
    color: #ddd;
    border: 1px solid white;
    border-radius: 25px;
    font-style: italic;
}

.pontosNegativos li{
    text-align: left;
    padding: 5px;
    color: #ddd;
    font-style: italic;
}

.titulo2{
    text-align: center;
}

.reviewIsabella{
    text-align: center;
    border: 1px solid white;
    margin-left: 670px;
    margin-right: 650px;
    background-image: url(../img/nature.jpg);
    color: #ddd;
    font-style: italic;
    border-radius: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.reviewIsabella p{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    padding-left: 20px;
}

.reviewLaisa{
    text-align: center;
    border: 1px solid white;
    margin-left: 670px;
    margin-right: 650px;
    background-image: url(../img/nature.jpg);
    color: #ddd;
    font-style: italic;
    border-radius: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.reviewLaisa p{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    padding-left: 20px;
}

.reviewBissoli{
    text-align: center;
    border: 1px solid white;
    margin-left: 670px;
    margin-right: 650px;
    background-image: url(../img/nature.jpg);
    color: #ddd;
    font-style: italic;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.reviewBissoli p{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    padding-left: 20px;
}

.reviewLeticia{
    text-align: center;
    border: 1px solid white;
    margin-left: 670px;
    margin-right: 650px;
    background-image: url(../img/nature.jpg);
    color: #ddd;
    font-style: italic;
    border-radius: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.reviewLeticia p{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    padding-left: 20px;
}

.titulo2{
    background-image: url(../img/nature.jpg);
    color: #ddd;
    font-weight: bold;
    font-style: italic;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}

